{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
  <div class="container">
    <a class='btn' href="{% url 'articles:create' %}">작성</a>
    <div class="d-flex justify-content-center">
      <table class="table text-center align-middle" style="width: 100%;">
        <thead>
          <tr class="p-3 mb-2 bg-dark text-white text-center">
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">내용</th>
            <th scope="col">작성시간</th>
          </tr>
        </thead>

        <tbody>
          {% for article in articles %}
            <tr class="text-center">
              <td scope="row">{{ article.pk }}</td>
              <td>
                <a href="{% url 'articles:detail' article.pk%}">{{ article.title }}</a>
              </td>
              <td>{{ article.content }}</td>
              <td>{{ article.created_at }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}