{% extends 'base.html' %}
{% block content %}
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">회원 목록 페이지</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href={% url 'accounts:index' %}>Home</a>
          </li>
          {% if user.is_anonymous %}
            <li class="nav-item">
              <a class="nav-link active" href={% url 'accounts:signup' %}>회원가입</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href={% url 'accounts:login' %}>로그인</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link mx-3">{{user}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-3" href="{% url 'articles:create' %}">글 쓰기</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class='container'>
    <table class='table'>
      <thead>
        <tr>
          <th scope='col'>pk</th>
          <th scope='col'>username</th>
          <th scope='col'>email</th>
        </tr>
      </thead>
      <tbody>
        {% for member in v %}
          <tr>
            <th scope='row'>{{ member.id }}</th>
            <td>
              <a href='{% url 'accounts:detail' member.pk %}'>{{ member.username }}</a>
            </td>
            <td>{{ member.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
